*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# Ignore credentials file
credentials.env

# Ignore Lambda dependencies, but not Lambda code
src/*
!src/handler.py
!src/exceptions.py
!src/tests.py

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.json

# Ignore virtual environment files
bin/*
include/*
lib/*
pyvenv.cfg

# Ignore testing folder
test_files/